<div class="page-header">
    <div class="row align-items-center mw-100">
      <div class="col">
        <div class="mb-1">
          <ol class="breadcrumb" aria-label="breadcrumbs">
            <li class="breadcrumb-item"> <a routerLink="" >Home</a></li>
            <li class="breadcrumb-item"> <a routerLink="student">Register</a></li>
            <li class="breadcrumb-item "><a routerLink="post">Users</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>