<br>
<h4 class="container">Sign Up</h4>
<hr>
<div class="container">
    <form class="form-group" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username"> Username :</label>
            <input type="text" id="username" formControlName="username">
            <span *ngIf="!signupForm.get('username')?.valid && signupForm.get('username')?.touched"> Please enter a
                valid
                username! </span>
        </div>
        <br>
        <div class="form-group">
            <label for="email"> Email :</label>
            <input type="text" id="email" formControlName="email">
            <span *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')?.touched"> Please enter a valid
                email! </span>
        </div>
        <br>
        <div class="form-group">
            <label for="password"> Password :</label>
            <input type="text" id="password" formControlName="password">
            <span *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched"> Please enter a
                valid
                password! </span>
        </div>
        <br>
        <button class="btn btn-primary">Submit</button>
        <br>
        <div formArrayName="hobbies">
            <h4>Your Hobbies</h4>
            <button class="btn btn-primary"(click)="onAddHobby()">Add Hobby</button>
        </div>
        <div *ngFor="let hobbyControl of getControls(); let i = index">
            <input type="text" [formControlName]="i" >
        </div>

    </form>
</div>